/*--blue: #00a2ff;*/
/*--darkBlue: #0088d6;*/

.button {
    -fx-background-color: #00a2ff;
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-border-width: 0px;
    -fx-cursor: hand;
}

.button:hover {
    -fx-background-color: #0088d6;
}